.container{
    max-width: 390px;
}
@font-face {
    font-family: 'Fascinate';
    src: url('./SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Оптимизация загрузки */
}
@font-face {
    font-family: 'Fascinate1';
    src: url('./SFProText-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Оптимизация загрузки */
}
.helloText {
    font-family: 'Fascinate', Arial, sans-serif;
    font-size: 24px;
    margin-top: 47px;
    color: #585858 ;
    text-align: center;
}
.glass-container {
    position: relative;
    margin-top: 45px;
    width: 100%;
    height: calc(100vh - 45px);

    padding: 24px;
    border-radius: 28px 28px 0 0;

    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
    border: 1px solid rgba(255,255,255,0.36);
    
    box-shadow: 0 8px 32px rgba(0,0,0,0.12);
    overflow-y: auto;

    /* главное ↓ */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pepe {
    margin-top: 40px;   /* обычный отступ сверху */
    max-width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; /* чтобы центрировать */
}
.textarea-container {
    align-items: center;
    width: 329px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    gap: 4px; /* отступ между label и textarea */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.glass-textarea {
    width: 100%;
    height: 40px;
    resize: none; 
    padding: 14px 16px;
    font-size: 24px;
    line-height: 1.45;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: rgba(0,0,0,0.85);
    background: rgba(255,255,255,0.35);
    border: 1px solid rgba(255,255,255,0.45);
    border-radius: 34px;

    backdrop-filter: blur(18px) saturate(160%);
    -webkit-backdrop-filter: blur(18px) saturate(160%);
    box-shadow:
        inset 0 1px 1px rgba(255,255,255,0.7),
        0 4px 18px rgba(0,0,0,0.10);

    outline: none;
    transition: 0.2s ease;
}
.textAreaLabel{
    font-family: 'Fascinate1', Arial, sans-serif;
    font-size: 12px;
    color: #585858 ;
    margin-top: 50px;  
    margin-right: 100px;
}


.glass-textarea:focus {
    border-color: rgba(0,122,255,0.45); 
    box-shadow:
        inset 0 0 0 1px rgba(0,122,255,0.55),
        0 6px 22px rgba(0,0,0,0.14);
}
.glass-button {
    width: 363px;
    height: 70px;
    margin-bottom: 24px;
    margin-top: 150px;
    font-family: 'Fascinate1', Arial, sans-serif;
    font-size: 20px;
    color:  #585858;

    background: rgba(255,255,255,0.35);
    border: 1px solid rgba(255,255,255,0.45);
    border-radius: 34px;
    cursor: pointer;

    backdrop-filter: blur(18px) saturate(160%);
    -webkit-backdrop-filter: blur(18px) saturate(160%);
    box-shadow:
        inset 0 1px 1px rgba(255,255,255,0.7),
        0 4px 18px rgba(0,0,0,0.10);

    transition: all 0.25s ease;
}


.glass-button:active {
    border-color: rgba(0,122,255,0.45); 
    box-shadow:
        inset 0 0 0 1px rgba(0,122,255,0.55),
        0 6px 22px rgba(0,0,0,0.14);

}
